{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>Utilisateur {{ user.firstname }} {{ user.lastname }}</h1>

    <table class="table mt-5">
        <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Rôles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>

        </tbody>
    </table>

    <div class="d-flex justify-content-start mt-3">
        <a href="{{ path('user_index') }}">
            <button type="button" class="btn btn-secondary me-md-2"><i class="fa fa-reply"></i> Retour</button>
        </a>
        {#        Optionnel : boutons Modifier et Supprimer #}
        <a href="{{ path('user_edit', {'id': user.id}) }}">
            <button type="button" class="btn btn-warning me-md-2"><i class="fa fa-reply"></i> Modifier</button>
        </a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
